<article fxLayout="column" fxLayoutAlign="center center">
  <div class="titleDiv" fxLayout="column" fxLayoutAlign="center center">
    <p class="title">{{boxTitleFirst}}</p>
    <p class="title">{{boxTitleSecond}}</p>
  </div>
  <ng-container *ngFor="let chat of chats; let i=index">
    <div class="chatGroup">
      <ng-container *ngIf="i % 2 === 0; else rightTail"> 
        <p class="chatBody yellowBody">{{chat.body}}</p>
        <img class="rightTail" src="../../assets/img/img_tail2@2x.png">
      </ng-container>
      <ng-template #rightTail>
        <p class="chatBody blueBody">{{chat.body}}</p>
        <img class="leftTail" src="../../assets/img/img_tail1@2x.png">
      </ng-template>
      <ng-container *ngIf="i % 2 === 0; else right">
        <div class="infoBox"  fxLayout="row" fxLayoutAlign="end center">
          <p class="info infoRight">{{chat.name}}, {{chat.age}}세</p>
          <img src={{chat.img}}>
        </div>
      </ng-container>
      <ng-template #right>
        <div class="infoBox" fxLayout="row" fxLayoutAlign="start center">
          <img src={{chat.img}}>
          <p class="info infoLeft">{{chat.name}}, {{chat.age}}세</p>
        </div>
      </ng-template>
      
    </div>
  </ng-container>
</article>