<div>
    <div id="top_top" fxLayout="column" fxLayoutAlign="center center">
        <p class="subTitle">{{subTitle}}</p>
        <div id="titleDiv" fxLayout="row">
            <p class="title titleFirstSection">{{titleFirstSection}}&nbsp;</p>
            <p class="title titleSecondSection">{{titleSecondSection}}&nbsp;</p>
            <p class="title titleLastSection">{{titleLastSection}}</p>
        </div>
        <img class="phone" src="../../assets/img/img_phone_pc@2x.png">

    </div>
    <div id="top_bottom" fxLayout="column" fxLayoutAlign="center center">
        <p class="bodyBefore">{{bodyBefore}}</p>
        <p class="bodyText">{{bodyText}}</p>
        <button>{{buttonText}}</button>
    </div>
</div>
