
<article class="calculationArticle">
  <div class="body" fxLayout="column wrap" fxLayoutAlign="center center">
    <p>{{titleFist}}</p>
    <p>{{titleSecond}}</p>
  </div>
  <div class="intereactionDiv" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <p class="inputLable">투자금액</p>
      <div class="inputAndButtonDiv" fxLayout="row" fxLayoutAlign="center center">
        <div class="inputDiv">
            <input class="input" #investAmount type="number" min="10" max="1000" step="10" [(ngModel)]="investMoney" (keyup)="valuechange($event)" >
            <p class="errorString">{{errorString}}</p>  
        </div>
        <button class="calculate" (click)="calculateInvestment(products,investMoney)">계산하기</button>
      </div>
    </div>
  </div>
  <div class="cardGroupResolutionHigh" fxLayout="row wrap" fxLayoutAlign="space-around start">
    <app-productCard *ngFor="let product of products" [product]="product"></app-productCard>
  </div>    
  <div class="cardGroupResolutionLow"  fxLayout="row" fxLayoutAlign="center center">
      <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <app-productCard [product]="product"></app-productCard>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
        </swiper>
  </div> 
</article>
