@mixin ripple {
    background-position: center;
    transition: background 0.8s;

    &:hover {
        background: #e2e2e2 radial-gradient(circle, transparent 1%, #e2e2e2 1%) center/15000%;
    }

    &:active {
        background-color: #f3f3f3;
        background-size: 100%;
        transition: background 0s;
    }
}

@mixin rippleSecondary {

    background-position: center;
    transition: background 0.8s;

    &:hover {
        background: #4b97c4 radial-gradient(circle, transparent 1%, #4b97c4 1%) center/15000%;
    }

    &:active {
        background-color: #85afc7;
        background-size: 100%;
        transition: background 0s;
    }
}
@mixin buttonBase{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    color: black;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

@mixin button {
    @include ripple;
    @include buttonBase;
}

@mixin buttonSecondary {
    @include rippleSecondary;
    @include buttonBase;
}

.calculationNavigation {
    width: 100%;
    height: 100px;
}