<footer fxLayout="column" fxLayoutAlign="center center">
  <p class="footerTitleEnglish">{{footerTitleEnglish}}</p>
  <p class="footerTitleKorean">{{footerTitleKorean}}</p>
  <img class="logo" srcset="../../assets/img/img_logo.png 1x, ../../assets/img/img_logo@2x.png 2x" src="../../assets/img/img_logo@2x.png" alt="peoplefund logo">
</footer>
<button class="startInvestButton">{{mobileInvestStartButton}} 
    <img src="../../assets/img/btn-arrow.png"
        srcset="../../assets/img/btn-arrow@2x.png 2x,
        ../../assets/img/btn-arrow@3x.png 3x"
        class="btn_arrow">
      </button>